{% extends 'appbuilder/baselayout.html' %}
{% block head_css %}
    {{ super() }}
    <link href="/static/img/favicon.ico" rel="shortcut icon">
{#    <link rel="stylesheet" href="{{url_for('static',filename='css/tooltip.css')}}">#}
    <style type="text/css">
        .font-keywords {background: #ffcc00}
        .font-keynames {background: #c8e1f4;font-weight: bold;
            width:fit-content;width:-webkit-fit-content;width:-moz-fit-content;margin-top: 5px;}
        .font-realse-stone {background: #d80006;color: white;width:fit-content;
	        width:-webkit-fit-content;width:-moz-fit-content;}

        .search-table {width: 95%;border-spacing:0px 5px;}
        .search-table>thead>tr>th{background: #99b9d2;word-break: keep-all;word-wrap:break-word;height: 23px;line-height: 23px;}
        .search-table>tbody>tr>td {vertical-align: top;border: 1px solid #99b9d2;
            border-collapse:collapse;
        }

        .search-tab{border-collapse:separate; border-spacing:3px 3px;}
        .search-tab>tbody>tr>td {padding:5px;background: #CCCCCC;
            border: 1px solid #ddd;border-color: white;border-right-color: white;border-left-color: white;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;{# 圆角 #}}

        .count-table {width: 100%; border-spacing:0px 5px;border:1px solid #99b9d2;border-collapse:collapse;}
        .count-table thead{background: #0f63ff}
        .count-table>thead>tr>th{padding: 4px;}
        .count-table>tbody>tr>td {vertical-align: top;border: 1px solid #0f63ff; padding: 2px;}

        .task-table {width: 95%; border-collapse:separate; border-spacing:0px 0px;
                    border:1px solid #48a0f7;border-collapse:collapse;
                    {#border-collapse: separate;#}
                    }
        .task-table>thead{background: #48a0f7;word-break: keep-all;word-wrap:break-word;height: 23px;line-height: 23px;}
        .task-table>thead>tr>th{padding: 4px;}
        .task-table>tbody>tr>td {vertical-align: top;border: 1px solid #48a0f7;cursor: pointer;padding: 2px;}

        .autocut {
            {#width:100px;#}
            overflow:hidden;
            white-space:nowrap;
            text-overflow:ellipsis;
            -o-text-overflow:ellipsis;
            -icab-text-overflow: ellipsis;
            -khtml-text-overflow: ellipsis;
            -moz-text-overflow: ellipsis;
            -webkit-text-overflow: ellipsis;
        }

        .container {width: 95%}
        pre {border: none;background-color:transparent;font-size: 14px;margin: 0 0 0;padding: 1px} {# lhz add #}
        .small-img {
        width: 90px;
        height: 90px;
        object-fit: cover;}
        .important { color: red; }
        .form-control {height: 32px;}
        td.col-lg-2 {height: 45px; width:140px; padding: 3px;}
        td.col-lg-small-label {height: 45px; width:100px; padding: 3px;}
        span.help-block {height: auto;margin-bottom:auto;margin-top:auto;font-size: 10px; color: red}
        .alert {margin-bottom: 5px;padding: 0px}
        .table>tbody>tr>td {padding: 5px;vertical-align: middle;}
        .table-hover>tbody>tr:hover{background-color:#e9eff6}
        .pagination {margin: 5px;horiz-align:right;text-align: right;}
        .well  {margin-top:2px; margin-bottom: 5px;min-height:45px;}
        .well-sm {padding: 5px;}
        div.pull-right{width: 600px;child-align:right;vertical-align:middle;margin-bottom: 2px;text-align: right;}
        .pagination.pagination-sm{text-align: right;horiz-align: right;}
        .modal-body{
            max-height:400px;
            overflow-y:auto;
            overflow-x:auto;
        }
        {#为列表隐藏内容设计#}
        .colStyle {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 70px;
        }
    </style>

    <style type="text/css">
        .ect-search-product-wrapper {
            width: 100%;
            margin: 20px auto 35px;
            position: relative;
        }
        .product-result-content {
            position: relative;
        }
        .ect-search-results-header {
            padding: 0 10px;
            color: #fff;
            font-size: 12px;
            line-height: 12px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            height: 40px;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        .header-bar-item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            border-right: 1px solid hsla(0,0%,100%,.4);
            height: 100%;
        }

        .ect-sort-item {
            display: inline;
            cursor: pointer;
            -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            text-align: center;
        }

        .ect-sort-item-etd {
            width: 80px;
        }

        .ect-bg-blue {
            background-color: #287ab5;
        }
        .ect-search-result-wrapper {
            position: relative;
            font-size: 12px;
            color: #4b4b4b;
        }

        .ect-bg-white {
            background-color: #fff;
        }
        .purchase-hover {
            -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,.1);
            box-shadow: 0 0 8px 0 rgba(0,0,0,.1);
            -webkit-transition: -webkit-box-shadow .2s ease-in-out;
            transition: -webkit-box-shadow .2s ease-in-out;
            transition: box-shadow .2s ease-in-out;
            transition: box-shadow .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
        }

        .purchase-hover:not(:first-child) {
            margin-top: 20px;
        }

        .ect-search-result-body {
            padding: 20px 10px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }
        .ect-search-result-route {
            width: 430px;
        }

        .schedule-data {
            font-size: 12px;
            color: #333;
        }

        .facility-name {
            color: #909399;
        }

        .el-row {
            position: relative;
            box-sizing: border-box;
            clear: left;
        }
        .circle-center {
            text-align: center;
            height: 18px;
        }

        [class*="el-col-"] {
            float: left;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        .el-col-5 {
            width: 20.83333%;
        }

        .el-col-6 {
            width: 25%;
        }
        .el-col-offset-0 {
            margin-left: 0;
        }
        .el-col-offset-3 {
            margin-left: 12.5%;
        }
         .el-col-offset-9 {
            margin-left: 37.5%;
        }
         .el-col-offset-15 {
            margin-left: 62.5%;
        }

        .hollow-circle{
            display: inline-block;
            text-align: center;
            width: 8px;
            height: 8px;
            border: 1px solid #00508e;
            border-radius: 50%;
        }
        .beeline{
            margin: 0 1px;
            display: inline-block;
            width: 23%;
            border-top: 1px solid #00508e;
            position: absolute;
            top: 8px; /** 控制横线的上下相对位置**/
        }
        .solid-circle {
            display: inline-block;
            text-align: center;
            width: 8px;
            height: 8px;
            background-color: #00508e;
            border-radius: 50%;
        }
        .time-display {
            font-size: 10px;
            text-align: center;
        }
        .horizontal-content-div {
            height: 14px;
        }
        .ts-mode-icon {
            position: absolute;
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: end;
            -ms-flex-align: end;
            align-items: flex-end;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            bottom: -35px;
        }
        .card-brand {
            color: #00508e;
            font-size: 13px;
            display: inline-block;
        }
        .svg-icon {
            width: 1em;
            height: 1em;
            vertical-align: -.15em;
            fill: currentColor;
            overflow: hidden;
        }

        .el-icon-sort {
            opacity: .5;
        }

        [class*=" el-icon-"] {
            font-family: element-icons!important;
            speak: none;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            vertical-align: baseline;
            display: inline-block;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        [class^=el-icon-] {
            font-family: element-icons!important;
            speak: none;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            vertical-align: baseline;
            display: inline-block;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .ect-search-result-transit-time{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            width: 90px;
        }

        .transit-time {
            font-size: 14px;
        }
        .ect-search-result-price {
            width: 300px;
        }

        .ect-search-result-price.header-bar-item {
            {#padding-left: 15px;#}
            padding-right: 5px;
        }
        .ect-search-result-commodity {
            width: 95px;
        }

        .ect-search-result-price-group {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
        }
        .container-type-item {
            text-align: center;
            min-width: 50px;
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
        }
        .ect-search-result-promotion {
            width: 150px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
        .ect-product-price-wrapper {
            background-color: #f7f7fb;
            padding: 5px 30px 5px 15px;
            border-radius: 3px;
            min-height: 78px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }
        .ect-price {
            font-size: 19px;
            font-weight: 600;
            overflow-wrap: unset;
            color: #f5a623;
        }
        .ect-search-result-price-footer {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            font-size: 12px;
            padding-top: 5px;
        }
        .ect-center {
            text-align: center;
        }
        .ect-search-result-footer {
            padding-left: 20px;
            padding-right: 20px;
            line-height: 32px;
            background-color: #ecf4ff;
            font-weight: 700;
            color: #999;
            font-size: 12px;
            letter-spacing: -.2px;
        }
        .pay-panel {
            text-align: left;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            display: -webkit-flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            {#justify-content: flex-end;#}
            -webkit-box-align: end;
            -ms-flex-align: end;
            {#align-items: flex-end;#}
            min-height: 110px;
            -ms-flex-line-pack: end;
            align-content: flex-end;
            font-size: 15px;
            padding-right: 10px;
        }
        .ect-search-result-buy {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
        }
        .inventory {
            margin-bottom: 20px;
            font-size: 14px;
            line-height: 24px;
            vertical-align: bottom;
        }
        .ect-cargo-arr-tip-btn, .ect-purchase-btn {
            padding: 8px 10px;
            background: #ffeeef!important;
            border-color: #d80006!important;
            color: #d80006!important;
            border-radius: 2px;
            width: 100px;
            font-size: 16px;
            line-height: 18px;
            white-space: normal;
        }
        .is-plain {
            color: #00508e;
            background: #e6eef4;
            border-color: #99b9d2;
        }
        .el-button--primary {
            color: #fff;
        }
        .el-button {
            border-radius: 2px;
        }
        .el-button--primary {
            background-color: #00508e;
            border-color: #00508e;
        }
        .el-button {
            display: inline-block;
            line-height: 1;
            white-space: nowrap;
            cursor: pointer;
            background: #fff;
            border: 1px solid #e8e8e8;
            color: #333;
            -webkit-appearance: none;
            text-align: center;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            outline: none;
            margin: 0;
            -webkit-transition: .1s;
            transition: .1s;
            font-weight: 500;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            padding: 9px 20px;
            font-size: 16px;
            border-radius: 4px;
        }
        .ect-purchase-btn {
            background: #d80006 !important;
            color: #fff !important;
            border-radius: 2px;
            padding: 8px 10px;
            border-color: #d80006 !important;
            width: 100px;
            font-size: 16px;
            line-height: 18px;
            white-space: normal;
        }
    .schedule-tip{
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }
    .show-tip {
            width: 26px;
            height: 18px;
            border-radius: 50%;
            background-color: orange;
            color: #fff;
            text-align: center;
        }
    </style>

{% endblock %}

{% block head_js %}
    {{ super() }}
    <script src="{{url_for('static',filename='js/search_filters.js')}}"></script>
    <script src="{{url_for('static',filename='js/modal.js')}}"></script>
    <script src="{{url_for('static',filename='js/formajax.js')}}"></script>
    <script src="{{url_for('static',filename='js/formajaxstop.js')}}"></script><!--lhz 新增的脚本，支持弹出框不刷新-->


    <script><!--lhz 新增的脚本，支持文本框自动换行-->
    function changeToLines(obj){
        str = $(obj).val();
        this.maxLength = str.length;
        let _findArr = [];
        let _result = [];
        //先分割 以非39的整数倍进行分割
        _findArr = str.split('\n');
        for(let g=0,h=_findArr.length;g<h;g++){
            if(_findArr[g].length>40){
                for(let i=0,j=_findArr[g].length;i<j;i+=39){
                    _result.push(_findArr[g].slice(i,i+39))
                }
                for(let k=0,l=_result.length;k<l;k++){
                    if(_result[k].length == 39){
                        _result[k] = _result[k]+'\n'
                    }
                }
                _findArr[g] = _result.join('');
            }
        }
        $(obj).val(_findArr.join('\n'));
    }
    </script>
<script type="text/javascript">
    //滚动到指定位置
      function scrollTo(element,speed) {
        if(!speed){
          speed = 300;
        }
        if(!element){
          $("html,body").animate({scrollTop:0},speed);
        }else{
          if(element.length>0){
            $("html,body").animate({scrollTop:$(element).offset().top-200},speed);
          }
        }
      }

        $(function () {
            if (window.performance) {
                //if (window.performance.navigation.type == 255){
                   {#$(document).scrollTop(0, sessionStorage.getItem("ListoffsetTop"));#}
                    var tmp = window.location.toString();
                    $("html,body").animate({scrollTop:sessionStorage.getItem(tmp)},5);
                //}
            }
         });

        //滚动时保存滚动位置
        $(window).scroll(function () {
            {#alert(window.location)#}
            var tmp = window.location.toString();
            //if (tmp.indexOf('versionmodelview')>0){
                if ($(document).scrollTop() != 0) {
                    sessionStorage.setItem(tmp, $(window).scrollTop());
                }
            //}
        });
    </script>
{% endblock %}


{% block tail_js %}
    {{ super() }}
{% endblock %}


{# 屏蔽自定义模板
{% import 'appbuilder/baselib.html' as baselib with context %}

{% block head_css %}
    {{ super() }}
    <link href="{{url_for('static',filename='css/landing-page.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% set languages = appbuilder.languages %}
    {% set menu = appbuilder.menu %}

    {% block navbar %}
        {% set languages = appbuilder.languages %}
        {% set menu = appbuilder.menu %}
        <div class="navbar {{menu.extra_classes}}" role="navigation">
           <div class="container">
                <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        {% if appbuilder.app_icon %}
                            <a class="navbar-brand" href="{{appbuilder.get_url_for_index}}">
                            <img src="{{appbuilder.app_icon}}" >
                            </a>
                        {% else %}
                            <span class="navbar-brand">
                            <a href="{{appbuilder.get_url_for_index}}">
                            {{ appbuilder.app_name }}
                            </a>
                            </span>
                        {% endif %}
                </div>
                    <div class="navbar-collapse collapse">
                       <ul class="nav navbar-nav navbar-right">
                        {{ baselib.locale_menu(languages) }}
                        {% if not current_user.is_anonymous %}
                            <li><a href="{{appbuilder.get_url_for_logout}}">
                            <i class="fa fa-sign-out"></i>{{_("Logout")}}</a></li>
                            <li><a class="pull-right" href="{{appbuilder.get_url_for_userinfo}}">
                            <i class="fa fa-user"></i> {{g.user.get_full_name()}}</a></li>
                        {% else %}
                            <li><a href="{{appbuilder.get_url_for_login}}">
                            <i class="fa fa-sign-in"></i>{{_("Login")}}</a></li>
                        {% endif %}
                        </ul>
                </div>
           </div>
        </div>
    {% endblock %}
    {% if not current_user.is_anonymous %}
    <div class="col-md-2" role="navigation">
        <ul class="nav nav-pills nav-stacked">
            {{ baselib.menu_block(menu)}}
        </ul>
    </div>
    {% endif %}
    {% if not current_user.is_anonymous %}
        <div class="col-md-10" role="container">
    {% else %}
        <div class="col-md-12" role="container">
    {% endif %}
        {% include 'appbuilder/flash.html' %}
        {% block content %}{% endblock %}
    </div>

    {% block footer %}
        <footer>
        <div class="img-rounded nav-fixed-bottom">
                <div class="container">
                    {% include 'appbuilder/footer.html' %}
                </div>
            </div>
        </footer>
    {% endblock %}
{% endblock %}
 #}